*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(251, 224, 187);
}

.container-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    background-color: rgb(6, 47, 84);
    border: none;
    border-radius: 15px;
    color: rgb(249, 249, 249);
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    width: 120px;
    transition: opacity 0.5s;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
    display: grid; /*dizer quantas linhas e colunas queremos */
    grid-template-columns: 200px 200px 200px; /* deixa os itens em colunas*/
    gap: 35px;
    justify-content: center;
}

li {
    border: 2px solid rgb(55, 55, 143);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 20px rgb(79, 184, 245);
}

img {
    width: 100%;
    border-radius: 15px;
}

p {
    color: rgb(2, 40, 72);
    font-weight: bold;
}

.item-price {
    font-weight: bold;
    color: rgb(21, 96, 111);
}